/*13-inches laptops*/

@media only screen and (max-width: 1540px) {

    .row {width: 1500px;}

.logo {
    height: 150px;
    width: 300px;
    margin: 40px;
}

    .events {
    margin: 20px 40px;
    height: 300px;
    width: 19%;
    }
}
/* Big tablet to 1200px (widths smaller than 1140px row) */

@media only screen and (max-width: 1200px) {

    .row {
        width: 1200px;
    }
    .image {
        width: 90%;
        height: 90%;
    }
    .left {
        height: 510px;
    }
    .right {
        background-color: #F7D4C8;
        height: 510px;
        margin-right: 50px;
    }

     .column1 {
        float: left;
        height: 510px;
        -webkit-height: 510px;
        width: 70%;
        -webkit-width: 70%;
    }

    .column2 {
        float: left;
        height: 510px; 
        -webkit-height: 510px;
        width: 30%;
        -webkit-width: 30%;
    }

    .logo {
        height: 100px;
        width: 220px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .menu {
        list-style: none;
        float: right;
        margin: 0;
        padding-top: 30px;
    }

    .photo2 {
        width: 50%;
        height: 454px;
        float: left;
        -webkit-transition: 2s ease;
        transition: 2s ease;
        overflow: hidden;
    }

    .photo3 {
        height: 90%;
    }

    .concert {
        color: black;
        font-size: 14px;
        text-align: center;
        padding: 0px 10px;
    }

    .events {
        margin: 10px 35px;
        height: 330px;
        width: 19%;
    }

    .copyright p {
        margin: 10px 100px;
        color: black;
    }

    .icon {
        list-style: none;
        float: left;
        text-align: center;
        line-height: 120%;
        margin: 10px 5px;
    }

    /* Small tablet to Big tablet from 768px to 1023px */
    @media only screen and (max-width: 1023px) {
        header { width: 100%}
        
        .row {
            width: 768px;
        }
        body {
            font-size: 15px;
        }

         .left {
            height: 510px;
        }
        .right {
            background-color: #F7D4C8;
            height: 510px;
            margin-right: 50px;
        }
        
        .logo {
            height: 100px;
            width: 220px;
            margin-top: 40px;
            margin-bottom: 0px;
        }
        .highlight {
            height: 23%;
            margin-top: 30px;
            display: block;
            margin-left: auto;
            margin-right: 15px;
        }
        .concert {
            color: black;
            font-size: 14px;
            padding: 80px 20px;
            margin-left: 20px;
        }
        .icon-small {
            font-size: 15px;
        }

        .events {
            margin: 10px 28px;
            height: 230px;
            width: 19%;
        }
        .location a {
            color: #E8E8E8;
            font-size: 15px;
        }
        .places {
            height: 100px;
            width: 150px;
            border: 2px solid #B9090B;
            display: block;
            margin-top: 8px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
        }

        .column1 {
            float: left;
            height: 760px;
            width: 70%;
        }

        .column2 {
            float: left;
            height: 740px;
            width: 30%;
        }

        /* Small phones to small tablets from 481 to 767px */
        @media only screen and (max-width: 767px) {
         
        /* Small phones from 0 to 480px*/
        @media only screen and (max-width: 480px) {
       
